body{
    background-image: cover;
}
.heading{
    width: 100%;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
#start{
    font-size: 22px;
    width: 40%;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 80px;
}
canvas{
    margin-top: 50px;  
    margin-right: 60px;
}
.instruction{
    text-align: left;
}
#restart{
    font-size: 22px;
    width: 40%;
    margin-top: 10px;
    margin-left: 5px;
}
.copy_right_footer{
    position: fixed;
    color: blue;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 10px solid white;
    border-radius: 10px;
}